@import "tailwindcss";

.centerFlex {
  @apply flex justify-center items-center;
}
.ql-container {
  @apply h-full;
}
.ql-toolbar {
  @apply bg-white;
}
.ql-editor,
.ql-container,
.ql-toolbar {
  @apply border-0!;
}
.page {
  @apply absolute inset-0  h-full bg-amber-50  via-0% via-amber-900/70  to-10% to-transparent;
}
.sheetContainer {
  @apply h-[650px] aspect-3/4;
}
.pageContainer {
  @apply absolute backface-hidden h-full w-full  transition-transform duration-1000  z-0;
  transform-style: preserve-3d;
}
.pointer-events-auto {
  pointer-events: auto;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.pageContainer.right {
  @apply origin-left;
  .recto {
    @apply bg-gradient-to-r  z-10;
  }
  .verso {
    @apply bg-gradient-to-l -rotate-y-180 z-0;
  }
}
.pageContainer.left {
  @apply origin-right;
  .recto {
    @apply bg-gradient-to-l;
  }
  .verso {
    @apply bg-gradient-to-r -rotate-y-180;
  }
}
